* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: url('../../img/cursor.png'), default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

$first-color: white;
$second-color: black;
$third-color: #001938;
$fourth-color: #0077d9;

body {
  background: url('../../img/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-color: $third-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-shadow: 0 0 2vh $third-color;
  color: $first-color;
}

@font-face {
  font-family: courier_regular;
  src: url('../../fonts/consolas.ttf');
}

#loader {
  position: absolute;
  top: 40%;
  width: 10vh; 
  height: 10vh;
  border: 2vh solid $fourth-color;
  border-radius: 10%;
  border-top: 2vh solid $first-color;
  border-bottom: 2vh solid $first-color;
  animation: load 1s linear infinite; 
} 

@keyframes load { 
  100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
  } 
}

h1 {
  font: bold 4vw Consolas, sans-serif;
  margin-top: 20vh;
}

p {
  font: bold 5vw Consolas, sans-serif;
  margin: 1vw 2vw;
}

#container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.countdown {
  display: flex;
  align-items: center;
  flex-direction: column;

  span {
    font: bold 2vw Consolas, sans-serif;
  }
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: $second-color;
  box-shadow: 0 0 4vh $second-color;

  span {
    font: bold 1.5vw Consolas, sans-serif;
  }
}

a {
  transition: .2s;
  font-weight: bold;
  text-decoration: none;
  color: $first-color;

  &:hover {
    transition: .7s;
    text-decoration: underline;
    text-shadow: 0 0 3vh $fourth-color;
    color: $fourth-color;
  }

  &:active {
    transition: .1s;
    text-decoration: line-through;
    text-shadow: 0 0 1vh $first-color;
    color: $first-color;
  }
}

@media (max-width: 1300px) {
  h1 {
    font-size: 5vw !important;
  }
  
  p {
    font-size: 6vw !important;
  }

  .countdown {
    span {
      font-size: 3vw !important;
    }
  }

  #footer {
    span {
      font-size: 3vw !important;
    }
  }
}