* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: url('../../img/cursor.png'), default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

body {
  background: url('../../img/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0 0 2vh #000f4a;
  color: white;
}

@font-face {
  font-family: courier_regular;
  src: url('../../fonts/consolas.ttf');
}

h1 {
  font: bold 4vw Consolas, sans-serif;
  margin-top: 20vh;
}

p {
  font: bold 5vw Consolas, sans-serif;
  margin: 1vw 2vw;
}

#container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.countdown {
  display: flex;
  align-items: center;
  flex-direction: column;

  span {
    font: bold 2vw Consolas, sans-serif;
  }
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: black;
  box-shadow: 0 0 4vh black;

  span {
    font: bold 1.5vw Consolas, sans-serif;
  }
}