* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(/img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

h1 {
  font: bold 4vw Consolas, sans-serif;
  margin-top: 25vh;
}

p {
  font: bold 5vw Consolas, sans-serif;
  margin: 1vw 2vw;
}

#container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.countdown {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.countdown span {
  font: bold 2vw Consolas, sans-serif;
}